@import "tailwindcss";

@layer utilities {
    .glass-panel {
        background-color: rgba(17, 24, 39, 0.6);
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }
}

body {
    color: white;
    font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
    overflow: hidden;
    background-color: #101622;
    /* Unified Dark Blue */
}

.visualizer-bar {
    animation: bounce 1.2s infinite ease-in-out;
}

.visualizer-bar:nth-child(odd) {
    animation-duration: 0.8s;
}

.visualizer-bar:nth-child(2n) {
    animation-duration: 1.1s;
}

.visualizer-bar:nth-child(3n) {
    animation-duration: 1.3s;
}

.visualizer-bar:nth-child(4n) {
    animation-duration: 0.9s;
}

@keyframes bounce {

    0%,
    100% {
        height: 20%;
    }

    50% {
        height: 80%;
    }
}

.avatar-glow {
    background: radial-gradient(circle, rgba(19, 91, 236, 0.25) 0%, rgba(19, 91, 236, 0) 70%);
}

/* Custom Dark Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: rgba(16, 22, 34, 0);
    /* Transparent/Dark */
}

::-webkit-scrollbar-thumb {
    background: #334155;
    /* Slate-700 */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #135bec;
    /* Primary Blue */
}